Bulk-Cm/src/test/resources/schema/user_input.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SimulationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Simulation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="network"/>
              <xs:element type="xs:string" name="node_type"/>
              <xs:element type="xs:string" name="sim_mim_ver"/>
              <xs:element type="xs:string" name="stats_dir"/>
              <xs:element type="xs:string" name="trace_dir"/>
              <xs:element type="xs:byte" name="no_of_nodes"/>
              <xs:element type="xs:byte" name="no_of_cells"/>
              <xs:element type="xs:string" name="nb_iot_cell"/>
              <xs:element type="xs:string" name="oss_dir"/>
              <xs:element type="xs:string" name="sim_name"/>
              <xs:element type="xs:string" name="node_name"/>
              <xs:element type="xs:string" name="nodes_ON"/>
              <xs:element type="xs:string" name="enableLteBCGCmdata"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>